<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1> Music App </h1>

      <% if logged_in? %>
        <%= logout %>
      <% else %>
        <a href="<%= new_user_url %>" class="nav-bar-link">Sign Up</a>
        <a href="<%= new_session_url %>" class="nav-bar-link">Sign In</a>
      <% end %>
      
      <%= yield %>
    </div>

  </body>
</html>
